<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2019 LIU AI LAB.</p>
              <p>WE ARE PART OF THE <a href="https://cs.auckland.ac.nz/">SCHOOL OF COMPUTER SCIENCE</a> AT <a href="https://www.auckland.ac.nz/">THE UUNIVERSITY OF AUCKLAND</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		
		<div class="col-sm-4">
		  CONTACT:<br />
		  SCHOOL OF COMPUTER SCIENCE<br />
		  THE UNIVERSITY OF AUCKLAND<br />
		  38 PRINCES STREET<br />
		  AUCKLAND<br />
		  NEW ZEALAND <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
